nav{
    background-color: rgb(160, 180, 250);
    text-align: right;
}
nav li{
    list-style-type: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
}
nav li a:hover{
    background-color: rgb(239, 177, 174);
    color: rgb(131, 135, 135);
    transition: background-color 2s linear, color 2s ease-in-out;
}