@charset "utf-8"
body {
    background-color: rgb(250, 221, 184);
    color: rgb(241, 176, 164);
}
h1{
    width: 300;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid;
    background-color: rgb(210, 170, 129);
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
h2{
    color: rgb(240, 212, 71);
}
main{
    width: 80%;
    background-color: rgb(250, 221, 184);
    margin: 0ex auto;
    padding: 40px 80px;
    border: 1px double ;
}
.round{
    border-radius: 50%;
}